.btn{
  border-radius: 8px;
    background-color: #ff9549;
    border: none;
    font-weight: 500;
    font-size: 14px;
    color: #181818;
  }
  
  .btn span {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  
  .btn--size-higt {
    padding: 18px 30px;
  }
  
  .btn--size-medium {
    padding: 16px 30px;
  }
  
  .btn--size-small {
    padding: 13px 30px;
  }
  
  .btn--call-me span::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/phone-incoming-01.svg");
    background-position: center;
    background-size: contain;
  }
  .btn--call-me span::after{
    display: none;
  }
  .btns span:after{
    content: "";
    display: inline-block;
    width: 7pc;
    height: 7px;
    background-image: url(../images/стрелка.png);
    
  }